@charset "UTF-8";
@font-face {
    font-family: Nasa;
    src: url(Nasa.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    color: #f1f1f1;
}
/*
NAVEGAÇÂO
*/
nav{
    background:#403D58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #ddd;
    box-shadow: #000 0 0 2px;
}
nav a {
    text-decoration: none;
    color: #f1f1f1;
}
nav > a{
    padding: 1em;
    font-family: Nasa;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
nav ul li p{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
nav ul li{
    padding: 0 10px;
}
nav ul li a:hover{
    color: rgb(206, 189, 189);
    text-decoration: underline;
}

/*
HEADER
*/
header{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Nasa;
}
header > h1{  
    text-shadow: #000 2px 2px 2px;
    margin: .75em 0;
}
header > p{
    font-family: Arial;
    text-shadow: #000 2px 2px 2px;
}
/*
SOBRE
*/
.sobre {
    background:#403D58;
    padding: 60px 30px;
    text-align: center;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.sobre > h2 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 1rem;
}
.sobre > p{
    margin: 2rem 0;
    font-size: 1.5rem;
}

.contato{
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
/*
CONTATO
*/
.contato{
    padding: 30px 0 ;
    display: flex;
    flex-direction: column;
}
.contato > h2{
    text-align: center;
    font-size: 2em;
    padding: 1rem 0;
}
.contato > hr{
    width: 90%;
    margin: 0 auto;
}
.contato > form{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contato > form > p {
    margin: 20px auto;
    width: 70%;
}
.contato > form > p > input, textarea{
    border-radius: 7px;
    width: 100%;
}
.contato > form > p > input{
    height: 35px;
    font-size: 100%;
}
.contato > form > p:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.contato > form > p > .btn{
    background-color:#403D58;
    font-size: 1rem;
    color: white;
    width: 100px;
    border: none;
    padding: .75rem 0;
    font-weight: 700;
    border-radius: 7px;
    transition-property: background-color;
    transition-duration: .3s;
    cursor: pointer;
}
.contato > form > p > .btn:hover{
    background-color:rgb(142, 135, 189);
}
/*
FOOTER
*/
footer{
    background-color: #303030;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer ul{
    max-height: 68px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
}
footer ul li{
    padding: 0 5px;
    position: relative;
    margin: 1.5em 0;
}
footer ul li i{
    
    color: #fff;
    font-size: 3rem;
    transition-property: font-size;
    transition-duration: .5s;
}
footer ul li i:hover{
    color: #DDD;
    font-size: 3.5rem;
}

footer p{
    position: absolute;
    bottom: 1.5em;
}

@media screen and (min-width: 767px){
    /*
    NAVEGAÇÂO
    */
    nav ul li a{
        flex-direction: row;
    }
    nav ul li p{
        padding: 0 5px;
    }
    /*
    HEADER
    */
    header > h1{
        font-size: 5em;
        margin: 0;
    }
}